<!DOCTYPE html>
   <head>
      <title>Etch-A-Sketch!</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Etch-A-Sketch!</h2>
		<h3>Instructions</h3>
		Welcome! Here are the instructions for this etch-a-sketch:
		Press control c in the command line to end the game.
		Press right, left, up, or down arrows to move the cursor around the LED matrix.
		To clear the board you can press the push button next to the LED matrix.
		<br>
		<h3> Latest Move </h3>
		     YOU SAID ==>  {{ action  }}
		<br>
		<h3> Commands </h3>
			<a href="/right" class="button">RIGHT</a>  
			<a href="/left"class="button">LEFT</a>
			<a href="/up"class="button">UP</a>
			<a href="/down"class="button">DOWN</a>
   </body>
</html>

